*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  background-color: #131313;
}

.card {
  display: inline-block;
  max-width: 15rem;
  padding: 1rem;
  margin: 1rem;
  text-align: center;

  background: rgba(255, 255, 255, 0.95);
  box-shadow: 5px 5px 2px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  transition: .25s ease-out;
}

.card .card-pfp {
  max-width: 60%;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.card .card-title {
  font-family: 'Courier New', monospace;
  color: #1c1c1c;
  padding: .9rem;
}

.card .card-text {
  font-family: 'Courier New', monospace;
  color: #1c1c1cd8;
  padding: .5rem;
}

.student {
  display: inline-block;
  width: clamp(15rem, 15rem, 15rem);
  padding: 1rem;
  margin: 1rem;
  text-align: center;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  color: #1c1c1c;

  background: rgba(255, 255, 255, 0.95);
  box-shadow: 5px 5px 2px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  transition: .25s ease-out;
}

.student .student-detail {
  padding: .25rem;
}

.list-category {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 900;
  color: #1c1c1c;
}

.list-items {
  display: inline-block;
  width: clamp(15rem, 15rem, 15rem);
  padding: 1rem;
  margin: 1rem;
  text-align: justify;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  color: #1c1c1c;

  background: rgba(255, 255, 255, 0.95);
  box-shadow: 5px 5px 2px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 5px;
  transition: .25s ease-out;
}

.list-items .items {
  padding: .25rem;
  list-style-position: inside;
}